/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
}

header {
    background-color: #202020;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333333;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

section {
    padding: 40px;
}

section h2 {
    font-size: 28px;
    color: #ff6600; /* Color naranja */
}

section p {
    font-size: 16px;
}

footer {
    text-align: center;
    background-color: #202020;
    color: #ffffff;
    padding: 10px;
}
